// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: TisaPro;
  src: font-url("TisaPro.otf");
}

body {
  font-family: TisaPro;
}
